@import "../variables";
@import "../mixin";

.feedbacks {
  position: relative;
  @include container();
}

.feedbacks__wrapper {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 115px;
  margin-bottom: 20px;
  z-index: 1;
}

.feedbacks__wrapper h2 {
  @include zero-style();
  @include fontpref(36px, 36px, 500);
  padding-bottom: 23px;
  font-family: 'Dosis';
  text-align: center;
  color: $third-font-color;
}

.feedbacks__wrapper p {
  @include zero-style();
  @include fontpref(14px, 24px, 300);
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto';
  color: $main-font-color;
  margin-bottom: 40px;
  text-align: center;
}

.feedback_card {
  width: 250px !important;
  margin: 0 auto;
  margin-bottom: 40px;
  min-height: 273px;
  background-color: #f7fafc;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 35px;
}

.feedback_card p {
  @include zero-style();
  @include fontpref(14px, 24px, 300);
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.feedback__card__costumer-card {
  position: relative;
  padding-left: 80px;
  padding-top: 15px;
}

.feedback__card__costumer-card img {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.feedback__card__costumer-card__name {
  display: block;
  @include zero-style();
  @include fontpref(18px, 24px, 500);
  font-family: 'Dosis';
  color: $third-font-color;
}

.feedback__card__costumer-card__company {
  @include zero-style();
  @include fontpref(14px, 24px, 300);
}

.feedbacks .custom-button-next,
.feedbacks .custom-button-prev {
  width: 40px;
  height: 40px;
  top: 62%;

  & i {
    color: $main-font-color;
    font-size: 14px;
    line-height: 24px;
    top: 5px;
    position: relative;
    z-index: 3;
  }
}

.feedbacks .custom-button-next {
  right: 1%;

  & i {
    left: 12px;
  }
}

.feedbacks .custom-button-prev {
  left: 1%;

  & i {
    left: 12px;
  }
}

@media ($tablet-widths) {
  .feedbacks__wrapper p {
    padding-left: 21%;
    padding-right: 21%;
    padding-bottom: 35px;
  }

  .feedback_card {
    width: 275px !important;
    min-height: 237px;
    margin-bottom: 0;
  }

  .feedback_card p {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 22px;
  }

  .feedback__card__costumer-card {
    padding-left: 100px;
  }

  .feedback__card__costumer-card__name {
    display: block;
    padding-bottom: 2px;
    width: 100%;
  }

  .feedback__card__costumer-card img {
    top: 0;
    height: 80px;
    width: 80px;
  }

  .feedbacks .custom-button-next {
    right: -90px;
  }

  .feedbacks .custom-button-prev {
    left: -90px;
  }

  .feedbacks__wrapper .swiper-slide-active {
    background-color: #ffffff;
    transition: 0.3s ease-in;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  }
}
