$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1140px";
$extra-desktop-widths: "min-width: 1920px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
//--- Font-size...

$main-font-size: 14px;

$main-line-height: 24px;

//--- Font-colors...

$main-font-color: #777777;

$second-font-color: #ffffff;

$third-font-color: #222222;

$fourth-font-color: #d71f6d;

$btn-font-color: #d71f6d;

$h1-color: #ffffff;

$h2-color: #222222;

$h3-color: #d15030;

$h4-color: #000000;

$article-color: #000000;

$hover-font-color: #222222;

$active-font-color: #000000;

//--- Btn-colors...

$btn-bg-hover-color: #e9e6e6;

$btn-bg-active-color: #000000;

$btn-bg: #ffffff;

$submit-btn-bg: #ffe13e;

//--- Main-backgrounds...

$body-bg: #ffffff;

$background-color-1: #f7fafc;



//--- Border colors...

$main-border-color: #2d2d2d;
